<div class="todoitem">

  <div class="sub-left">
    <% if (todoitem.done?) %>
      <font color=#00FF00> Due Date: <%= ("#{todoitem.due_date}") %> </font>
    <% else %>
      <font color=#FF0000> Due Date: <%= ("#{todoitem.due_date}") %> </font>
    <% end %>
    <br/>
    <%= link_to "#{todoitem.task_title}", [@todolist, todoitem] %> 
  </div>

  <div class="sub-right">
    <% if (!todoitem.done?) %>
      <%= button_to "Mark item as Done" %>
    <% end %>
  </div>

</div>